#wte-estimator-form {
    max-width: 700px;
    margin: 1em auto;
    border: 2px solid #ddd;
    /* border-radius: 12px; */
}

#wte-estimator-form input,
#wte-estimator-form select {
width: calc(100% - 20px);
    margin-bottom: 1em;
    padding: 12px 10px;
    max-width: 100%;
    min-width: auto;
    border: 1px solid #00000029;
    background-color: #fff;
}

#wte-cost {
    display: none;
    font-weight: bold;
    margin-top: 10px;
}
#wte-estimator-form label {
font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    display: block;

}
#wte-estimator-form p.desc-text {
    font-size: 14px;
    text-transform: none;
    font-weight: 100 !important;
    line-height: 1;
        letter-spacing: 0px;
        margin: 7px 0;
}

#wte-estimator-form .consent-checkbox {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
        height: auto;
        line-height: 0;
        margin: auto;
        font-weight: 100;
        text-transform: capitalize;
        letter-spacing: 0px !important;
        margin-bottom: 25px !important;
            margin-top: 8px !important;
            border-top: 1px solid #0000002e;
            border-bottom: 1px solid #0000002e;
            padding: 20px 0;
}
#wte-estimator-form .consent-checkbox input {
width: 20px;
    cursor: pointer;
    margin: 0 10px 0px 0px;
    max-width: 20px;
}
/* #wte-estimator-form .consent-checkbox label {
    font-size: 14px;
    margin: 0;
} */
#wte-estimator-form .wte-btn {
width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 2s ease;
}
#wte-estimator-form .wte-btn:hover {
    background-color: #0056b3;
    letter-spacing: 2px;
    transition: all 2s ease;
}
@media screen and (max-width: 700px) {
    #wte-estimator-form {
        padding: 1em;
        border: 1px solid #ddd;
    }
    #wte-estimator-form .wte-btn {
        padding: 12px;
    }
    
}