#wte-estimator-form {
    max-width: 600px;
    width: 100%;
    margin: 1em auto;
    padding: 1em 2em;
    border: 2px solid #ddd;
    border-radius: 12px;
}

#wte-estimator-form input,
#wte-estimator-form select {
    width: calc(100% - 20px);
        margin-bottom: 1em;
        padding: 6px 10px;
        max-width: 100%;
        min-width: auto;
        border: 1px solid #00000029;
        background-color: #fff;
}

#wte-cost {
    display: none;
    font-weight: bold;
    margin-top: 10px;
}
#wte-estimator-form label {
font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 20px !important;

}
#wte-estimator-form p.desc-text {
    font-size: 14px;
    text-transform: none;
    font-weight: 100 !important;
    line-height: 1;
        letter-spacing: 0px;
        margin: 7px 0;
}

#wte-estimator-form .consent-checkbox {
    display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
        height: auto;
        line-height: 0;
        margin: auto;
        font-weight: 100;
        text-transform: capitalize;
        letter-spacing: 0px !important;
}
#wte-estimator-form .consent-checkbox input {
width: 20px;
    cursor: pointer;
    margin: 25px 13px 30px 0px;
}
/* #wte-estimator-form .consent-checkbox label {
    font-size: 14px;
    margin: 0;
} */
#wte-estimator-form .wte-btn {
width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 2s ease;
}
#wte-estimator-form .wte-btn:hover {
    background-color: #0056b3;
    letter-spacing: 2px;
    transition: all 2s ease;
}
@media screen and (max-width: 700px) {
    #wte-estimator-form {
        padding: 1em;
        border: 1px solid #ddd;
    }
    #wte-estimator-form .wte-btn {
        padding: 12px;
    }
    
}