#wte-estimator-form {
    max-width: 490px;
    margin: 1em auto;
    padding: 1em 2em;
    border: 2px solid #ddd;
    border-radius: 12px;
    font-family: sans-serif;
}

#wte-estimator-form input,
#wte-estimator-form select {
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
}

#wte-cost {
    display: none;
    font-weight: bold;
    margin-top: 10px;
}
#wte-estimator-form label {
    font-size: 16px;

}

#wte-estimator-form .consent-checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#wte-estimator-form .consent-checkbox input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#wte-estimator-form .consent-checkbox label {
    font-size: 14px;
    margin: 0;
}
#wte-estimator-form .wte-btn {
width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}